@{
    ViewData["Title"] = "Главная страница";
}

<h1>Добро пожаловать в ManufacturingManagementSystem</h1>
<p>Это главная страница. Перейдите к <a asp-controller="Materials" asp-action="Index">Материалам</a>.</p>